#theDrakeLabel {
    -fx-font-size: 90px;
    -fx-alignment: center;
    -fx-font-family: "Arial", sans-serif;
    -fx-text-fill: #eeeeee;
}

.button {
    -fx-font-size: 35px;
    -fx-alignment: center;
    -fx-font-family: "Arial", sans-serif;
    -fx-text-fill: #eeeee4;
    -fx-background-color: transparent;
}

.root {
    -fx-background-image: url("background.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #ffb900, #ffb900);
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #ffb900, #ffb900);
    -fx-background-insets: 2px;
}
